@CHARSET "UTF-8";

.hr-menu{
	
	display: inline-block; /* 옆으로 틀안에 */ 
}
.hr-menu ul{
	
	overflow: auto; /* 높이 */
}
.hr-menu li{
	float:left;
}
.hr-menu li:first-child{
	background: none !important;
	padding-left: 0px !important;
}
.hr-menu li a{
	color: #979797;
	text-decoration: none;
}
.hr-menu li a:hover{
	text-decoration: underline;
}


#logo{
	position: absolute;
	top: 23px;
	left:0px;
	
}
#main-menu{
	position: absolute;
	top: 27px;
	left: 200px;
}
#main-menu a{
	font-family: 맑은 고딕, 고딕, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
}
#main-menu li{
	padding-left: 24px;
	background: url("../images/bg-main-menu-vsp.png") no-repeat 13px center ;
}
#lecture-search-form{
	position: absolute;
	left:468px;
	top: 21px;
	border: 5px solid #8CBA34;
	width: 308px;
	height: 25px;
	
}
#lecture-search-form fieldset label{
	
	display: block;
	left:0px;
	top:0px;
	width: 55px;
	height: 25px;
	line-height: 25px;
	font: bold;
	text-indent: 5px;
	float: left;
}
#lecture-search-form fieldset input[type=text]{
	
	display: block;
	width: calc(100% - 55px - 31px);
	height: 25px;
	border: 0px solid #fff;
	text-indent:5px;
	float: left;
}
#lecture-search-form fieldset input[type=submit]{
	width: 31px;
	height: 25px;
	border: 0px;
	border-left: 1px solid #8CBA34;	
	background: url("../images/btn-zoom.png") no-repeat center;
	cursor: pointer;
	text-indent: -999px;
	
	display: block;
	width: 31px;
	height: 25px;	
	float: left;
}

#account-menu{
	position: absolute;
	display:inline-block;
	right:0px;
	top:20px;
	
}
#account-menu a{

}
#account-menu li{
	padding-left: 9px;
	background: url("../images/bg-member-menu-sp.png") no-repeat 5px center ;
}
#member-menu{
	position: absolute;
	display:inline-block;
	right:0px;
	top:40px;
}
#member-menu li{
	float:left;
}